package {{ data.package }}.rest;

import me.zhengjie.annotation.Log;
import {{ data.package }}.domain.{{ data.class_name }};
import {{ data.package }}.service.{{ data.class_name }}Service;
import {{ data.package }}.service.dto.{{ data.class_name }}QueryCriteria;
import org.springframework.data.domain.Pageable;
import lombok.RequiredArgsConstructor;
import org.springframework.http.HttpStatus;
import org.springframework.http.ResponseEntity;
import org.springframework.security.access.prepost.PreAuthorize;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;
import io.swagger.annotations.*;
import java.io.IOException;
import javax.servlet.http.HttpServletResponse;

/**
* @description /
* @author {{ data.author }}
* @date {{ data.date }}
**/
@RestController
@RequiredArgsConstructor
@Api(tags = "{{ data.api_alias }}管理")
@RequestMapping("/api/{{ data.change_class_name }}")
public class {{ data.class_name }}Controller {

private final {{ data.class_name }}Service {{ data.change_class_name }}Service;

@Log("导出数据")
@ApiOperation("导出数据")
@GetMapping(value = "/download")
@PreAuthorize("@el.check('{{ data.change_class_name }}:list')")
public void download(HttpServletResponse response, {{ data.class_name }}QueryCriteria criteria) throws IOException {
{{ data.change_class_name }}Service.download({{ data.change_class_name }}Service.queryAll(criteria), response);
}

@GetMapping
@Log("查询{{ data.api_alias }}")
@ApiOperation("查询{{ data.api_alias }}")
@PreAuthorize("@el.check('{{ data.change_class_name }}:list')")
public ResponseEntity
<Object> query({{ data.class_name }}QueryCriteria criteria, Pageable pageable){
    return new ResponseEntity<>({{ data.change_class_name }}Service.queryAll(criteria,pageable),HttpStatus.OK);
    }

    @PostMapping
    @Log("新增{{ data.api_alias }}")
    @ApiOperation("新增{{ data.api_alias }}")
    @PreAuthorize("@el.check('{{ data.change_class_name }}:add')")
    public ResponseEntity
    <Object> create(@Validated @RequestBody {{ data.class_name }} resources){
        return new ResponseEntity<>({{ data.change_class_name }}Service.create(resources),HttpStatus.CREATED);
        }

        @PutMapping
        @Log("修改{{ data.api_alias }}")
        @ApiOperation("修改{{ data.api_alias }}")
        @PreAuthorize("@el.check('{{ data.change_class_name }}:edit')")
        public ResponseEntity
        <Object> update(@Validated @RequestBody {{ data.class_name }} resources){
            {{ data.change_class_name }}Service.update(resources);
            return new ResponseEntity<>(HttpStatus.NO_CONTENT);
            }

            @Log("删除{{ data.api_alias }}")
            @ApiOperation("删除{{ data.api_alias }}")
            @PreAuthorize("@el.check('{{ data.change_class_name }}:del')")
            @DeleteMapping
            public ResponseEntity
            <Object> delete(@RequestBody {{ data.pk_column_type }}[] ids) {
                {{ data.change_class_name }}Service.deleteAll(ids);
                return new ResponseEntity<>(HttpStatus.OK);
                }
                }