package {{ data.package }}.service;

import {{ data.package }}.domain.{{ data.class_name }};
import {{ data.package }}.service.dto.{{ data.class_name }}Dto;
import {{ data.package }}.service.dto.{{ data.class_name }}QueryCriteria;
import org.springframework.data.domain.Pageable;
import java.util.Map;
import java.util.List;
import java.io.IOException;
import javax.servlet.http.HttpServletResponse;

/**
* @description 服务接口
* @author {{ data.author }}
* @date {{ data.date }}
**/
public interface {{ data.class_name }}Service {

/**
* 查询数据分页
* @param criteria 条件
* @param pageable 分页参数
* @return Map
<String,Object>
*/
Map
<String,Object> queryAll({{ data.class_name }}QueryCriteria criteria, Pageable pageable);

/**
* 查询所有数据不分页
* @param criteria 条件参数
* @return List
<{{ data.class_name }}Dto>
*/
List<{{ data.class_name }}Dto> queryAll({{ data.class_name }}QueryCriteria criteria);

/**
* 根据ID查询
* @param {{ data.pk_change_column_name }} ID
* @return {{ data.class_name }}Dto
*/
{{ data.class_name }}Dto findById({{ data.pk_column_type }} {{ data.pk_change_column_name }});

/**
* 创建
* @param resources /
* @return {{ data.class_name }}Dto
*/
{{ data.class_name }}Dto create({{ data.class_name }} resources);

/**
* 编辑
* @param resources /
*/
void update({{ data.class_name }} resources);

/**
* 多选删除
* @param ids /
*/
void deleteAll({{ data.pk_column_type }}[] ids);

/**
* 导出数据
* @param all 待导出的数据
* @param response /
* @throws IOException /
*/
void download(List<{{ data.class_name }}Dto> all, HttpServletResponse response) throws IOException;
}